<!DOCTYPE html>
<html>
  <head>
    <meta charset = 'utf-8'>
    <title>메인</title>
    <script src = "/main.js"></script>
  </head>
  <body>
    <h1>메인</h1>
    <p>메인</p>
    <button id = "toSignIn" onclick="toSignIn()">로그인</button>
    <button id = "toSignUp" onclick="toSignUp()">회원가입</button>
  </body>
</html>
