body {display: flex; justify-content: center; padding: 3em 0} input {padding: 1em 1.5em; font-size:1.2em}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}