<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>게시글작성</title>
    <!-- <script type="module" src="./signupnew.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/WritePid.js"></script>
    <link rel="stylesheet" href="/css/style_WritePid.css">
</head>

<body>
    <div class="container">
        <h2 style="font-size: 2vw; text-align: center; color:#383838;">동행 글 작성하기</h2>

        <hr style="width: 100%;">
        <!--프로필하고 작성자 닉네임 입력-->
        <img src="/images/profile.jpg" style="margin-top: 15px; width: 7%; border-radius: 70%; float: left;">
        <div class="write_profile_writepid">닉네임_길이체크</div> <br><br>

        <form name="writeform" action="#" method="POST">
            <input type="text" placeholder="제목을 입력하세요" name="Pid_title" class="Pid_title" maxlength="20"><br /><br />
            <hr>
            <input type="textarea" placeholder="내용을 입력하세요" name="Pid_content" class="Pid_content" maxlength="500"><br /><br />

            <span class="box">
                <label class="input-file-button" for="input-file"><img src="/images/photo.png" style="width: 7%; margin-bottom: -50px;"> </label> 
                <input type="file" id="input-file" class="int_file" accept="image/*" style="display: none;"/>
            </span> <br /><br />

            <img src="/images/option.png" alt="" onclick="js:showPopUp()" style="float: left; margin-top: -18px; margin-left: 50px; width: 7%;">
            <script>
                function showPopUp() {
                    var Modal = document.querySelector('#Modal');
                    Modal.style.display = "block";
                }
            </script>
            <div id="Modal" class="modal">
                <!--이거 원래 div class="modal-content" 밑에 있었음요!-->
                <div class="modal-content">
                    <span class="close" onclick="js:closePopUp()">&times;</span>
                    <script>
                        function closePopUp() {
                            var Modal = document.querySelector('#Modal');
                            Modal.style.display = "none";
                        }
                    </script>
                    <div class="option_popup_Pid">
                        <sapn style="font-size: 20px;">동행1</sapn>
                        <hr>
                        <span>국적</span>
                        <select class="option_nation" aria-label="국적">
                        <option value="">국적</option>
                        <option value="01">
                            대한민국
                        </option>
                           <option value="02">
                            미국
                        </option>
                           <option value="03">
                            일본        
                        </option>
                           <option value="04">
                            중국
                        </option>
                           <option value="05">
                            캐나다
                        </option>
                           <option value="06">
                            영국
                        </option>
                    </select>
                        <span style="margin-left: 30px;">성별</span>
                        <select class="option_gender" aria-label="성별">
                        <option value="">성별</option>
                        <option value="M">남자</option>
                        <option value="F">여자</option>
                    </select><br>
                        <span>나이</span>
                        <select class="option_age" aria-label="나이">
                        <option value="">나이</option>
                        <option value="10">10대</option>
                        <option value="20">20대</option>
                        <option value="30">30대</option>
                        <option value="40">40대</option>
                    </select>
                    </div>
                    <div class="option_popup_Pid">
                        <sapn style="font-size: 20px;">동행2</sapn>
                        <hr>
                        <span>국적</span>
                        <select class="option_nation" aria-label="국적">
                        <option value="">국적</option>
                        <option value="01">
                            대한민국
                        </option>
                           <option value="02">
                            미국
                        </option>
                           <option value="03">
                            일본        
                        </option>
                           <option value="04">
                            중국
                        </option>
                           <option value="05">
                            캐나다
                        </option>
                           <option value="06">
                            영국
                        </option>
                    </select>
                        <span style="margin-left: 30px;">성별</span>
                        <select class="option_gender" aria-label="성별">
                        <option value="">성별</option>
                        <option value="M">남자</option>
                        <option value="F">여자</option>
                    </select><br>
                        <span>나이</span>
                        <select class="option_age" aria-label="나이">
                        <option value="">나이</option>
                        <option value="10">10대</option>
                        <option value="20">20대</option>
                        <option value="30">30대</option>
                        <option value="40">40대</option>
                    </select>

                    </div>

                    <button class="option_submit" type="button" onclick="js:closePopUp()">등록</button>

                </div>
            </div>

            <input type="date" id="Pid_dday" class="Pid_dday" name="Pid_dday" value="2021-05-29" min="2021-05-25" max="2021-12-31">
            <br/> <br/>
            <br/>

            <input type="text" placeholder="목표인원" name="Pid_recruitNumber" id="Pid_recruitNumber" class="Pid_recruitNumber"><br/><br />

            <input type="text" placeholder="지역" name="Pid_religion" class="Pid_religion" maxlength="15"><br /><br />

            <span class="box">
                <input type="file" id="file" class="int_file" accept="image/*" style="display: block">
            </span> <br /><br />
            <br /><br />
            <button class="submit" type="button" onclick="writepid()">등록하기<br /><br />
            <button id="toMainPage" onclick="toMainPage()">취소</button>
        </form>
    </div>
</body>

</html>